body {
    font-family: Arial, sans-serif;
}

table td {
    vertical-align: middle;
}

.dark-mode {
    background-color: #121212 !important;
    color: #ffffff;
}

.dark-mode .card,
.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .table {
    color: #ffffff;
}

.dark-mode .table thead {
    background-color: #2c2c2c;
}

.dark-mode input,
.dark-mode select {
    background-color: #2c2c2c;
    color: #ffffff;
    border-color: #444;
}

.dark-mode .btn-close {
    filter: invert(1);
}

.dark-mode .navbar {
    background-color: #1a1a1a !important;
}

.dark-mode .table thead {
    background-color: #2c2c2c !important;
}

.dark-mode .table tbody tr {
    background-color: #1e1e1e;
    color: #ffffff;
}